* {
    padding: 0;
    margin: 0;
    /* border: border-box; */
}

:root {
    --purpel: #4f0bbc;
    --gray-ligth: #f1f1f1;
}

.header-container {
    background-color: var(--purpel);
    color: var(--gray-ligth);
    padding: 5px;

}

.interrogation {
    width: 90px;
    height: 90px;
    border: 3px solid var(--gray-ligth);
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s;
    animation: go-back 4s ease-in-out infinite alternate;
    margin: 2px;
    text-align: center;
}

.interrogation::before,
.interrogation::after {
    content: '?';
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: var(--gray-ligth);
    top: calc(50% - 20px);
    transition: transform 0.3s ease-in-out;
}

.interrogation::before {
    transform: rotate(-35deg);
    transform-origin: 0 50%;
    left: 8px;
    top: 55px;
}

.interrogation::after {
    transform: rotate(35deg);
    transform-origin: 100% 50%;
    right: 8px;
    top: 55px;
}

@keyframes go-back {
    from {
        transform: translateX(10px);
    }

    to {
        transform: translateX(0);
    }
}

.quiz-container {
    margin: 10px;
    padding: 10px;
}

.card {
    border: 1px solid #2c2828;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.bg-custom-success {
    background-color: #a6e6a8; /* Substitua pelo código da cor desejada */
}

.footer {
    background-color: var(--purpel);
    color: var(--gray-ligth);
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
}

.c-footer_icon {
    margin: 8px;
    width: 24px;
}

@media (min-width: 995px) {

    .quiz-container {
        margin-left: 100px;
        margin-right: 100px;
    }
}